<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Взять ипотеку или накопить?</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="container">
            <h1>Ипотека или накопить?</h1>
            <p>
                Вы решили купить квартиру, но не знаете брать ипотеку или копить?<br>
                У вас есть несколько вариантов:<br>
            </p>
            <ol>
                <li>Жить на съемной квартире, платить за ее аренду и потихоньку откладывать N-ую сумму денег в банк или под матрас на покупку своей.</li>
                <li>Купить квартиру в ипотеку, сразу перехать в нее и выплачивать деньги банку.</li>
                <li>Найти клад, выиграть в лотерею, в казино поставить все на зеро и выиграть кучу бабок.</li>
            </ol>
            <p>
                Вариант с покупкой квартиры в ипотеку в недостроенном доме я не рассматрию, так как считаю, что это весьма невыгодный вариант. Вам придется каждый месяц платить и по ипотеке и за аренду съемного жилья.
            </p>
            <p>
                Данная программа поможет математически рассчитать какой из вариантов будет выгоднее. Брать ипотеку или копить-копить-копить.<br>
                Это всего лишь математика, а решать вам.
            </p>
            <div class="mb-20"></div>

            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default mortgage-input-data">
                        <div class="panel-heading"><b>Введите данные</b></div>
                        <div class="panel-body">
                            <div class="js-panel"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <h4>Результаты:</h4>
                    <div class="js-statistics"></div>
                    <div class="mb-20"></div>

                    <h4>Все рассчеты:</h4>
                    <p>
                        <b>№</b> - номер месяца по порядку.<br>
                        <b>Дата</b> - дата платежа.<br>
                        <b>Вклад</b> - сумма денег не счете в банке.<br>
                        <b>Доход по&nbsp;вкладу</b> - доход от вклада за текущий месяц.<br>
                        <b>Ипотека</b> - остаток долга по ипотеке.<br>
                        <b>% по&nbsp;ипотеке</b> - сумма по процентам ипотеки за текущий месяц.<br>
                        <b>Переплата за&nbsp;аренду</b> - сумма, которую Вы заплатите арендатору квартиры за N месяцев.<br>
                        <b>Переплата по&nbsp;ипотеке</b> - сумма, которую Вы заплатите банку по процентам ипотеки за N месяцев.
                    </p>
                    <div class="mortgage-table-head">
                        <table class="table table-bordered mortgage-table">
                            <colgroup>
                                <col class="mortgage-table__col-number">
                                <col class="mortgage-table__col-date">
                                <col class="mortgage-table__col-deposit">
                                <col class="mortgage-table__col-income">
                                <col class="mortgage-table__col-credit">
                                <col class="mortgage-table__col-percentage">
                                <col class="mortgage-table__col-total-rent">
                                <col class="mortgage-table__col-total-percentage">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Дата</th>
                                    <th>Вклад,<br><span class="mortgage-table__label">руб.</span></th>
                                    <th>Доход по&nbsp;вкладу,<br><span class="mortgage-table__label">руб.</span></th>
                                    <th>Ипотека,<br><span class="mortgage-table__label">руб.</span></th>
                                    <th>% по&nbsp;ипотеке,<br><span class="mortgage-table__label">руб.</span></th>
                                    <th>Переплата за&nbsp;аренду,<br><span class="mortgage-table__label">руб.</span></th>
                                    <th>Переплата по&nbsp;ипотеке,<br><span class="mortgage-table__label">руб.</span></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <table class="table table-bordered mortgage-table">
                        <colgroup>
                            <col class="mortgage-table__col-number">
                            <col class="mortgage-table__col-date">
                            <col class="mortgage-table__col-deposit">
                            <col class="mortgage-table__col-income">
                            <col class="mortgage-table__col-credit">
                            <col class="mortgage-table__col-percentage">
                            <col class="mortgage-table__col-total-rent">
                            <col class="mortgage-table__col-total-percentage">
                        </colgroup>
                        <tbody class="js-table-data"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="mb-20"></div>

        <script src="js/lib/require.js" data-main="js/app"></script>

        <script type="text/template" id="panel-item">
            <div class="form-group js-form-group" data-name="<%- name %>">
                <label data-toggle="tooltip"
                       data-placement="right">
                    <%- label %>:
                    <% if (hint) { %>
                    <span class="glyphicon glyphicon-question-sign" title="<%- hint %>"></span>
                    <% } %>
                </label>
                <div class="input-group">
                    <input type="text" name="<%- name %>" class="form-control js-input" value="<%- value %>">
                    <span class="input-group-addon"><%- units %></span>
                </div>
                <div class="text-danger js-input-error"></div>
            </div>
        </script>

        <script type="text/template" id="statistics">
            <p>
                <b>Если Вы будете копить:</b><br>
                Вы накопите необходимую сумму за <b class="text-success"><%- monthsRent %>&nbsp;месяцев</b>.
                При этом переплата за аренду квартиры составит <b class="text-success"><%- overRent %>&nbsp;руб.</b>
            </p>
            <p>
                <b>Если Вы возьмете ипотеку:</b><br>
                Вы выплатите ипотеку за <b class="text-info"><%- monthsCredit %>&nbsp;месяцев</b>.
                При этом переплата по процентам составит <b class="text-info"><%- overCredit %>&nbsp;руб.</b>
            </p>
        </script>

        <script type="text/template" id="table-row">
            <tr>
                <td><%- number %></td>
                <td><%- date %></td>
                <td><%- deposit %></td>
                <td><%- income %></td>
                <td><%- credit %></td>
                <td><%- percentage %></td>
                <td><%- overRent %></td>
                <td><%- overCredit %></td>
            </tr>
        </script>

    </body>
</html>
